@import '~@/styles/variables.scss';
@import '~@/styles/mixin.scss';
@import '~@/styles/placeholder.scss';

.tagOverview {
	//margin: 1rem 0;
}
@media (max-width: 1000px) {
	.tagOverview {
		//padding: 1rem .5rem;
		@include card;
		padding-bottom: 2rem;
	}
}
.tagList {
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
	margin: 0;

	.tagItem {
		margin: 0.3em 0.5em;
		background-color: #eeeeee;
		border-radius: 2.2em;
		padding: 0.5em 0.8em;
		border: 0;
		outline: 0;
		font-size: 0.8rem;
		cursor: pointer;
		user-select: none;
		transition: all 0.2s ease;
		color: inherit;
		font-weight: 500;

		&:hover {
			color: #fff;
			background-color: $main-color;
		}
	}
}
