$white: white;
$black: black;
$green: #00a854;
$blue: #1890ff;
$red: #f04134;
$pink: #f5317f;
$purple: #7265e6;
$cyan: cyan;
$gray: gray;
$yellow: #ffbf00;
$orange: #f56a00;

$green-1: lighten($green, 30%);
$green-2: lighten($green, 20%);
$green-3: lighten($green, 15%);
$green-4: lighten($green, 10%);
$green-5: lighten($green, 5%);
$green-6: $green;
$green-7: darken($green, 5%);
$green-8: darken($green, 10%);
$green-9: darken($green, 15%);
$green-10: darken($green, 20%);

$blue-1: lighten($blue, 30%);
$blue-2: lighten($blue, 20%);
$blue-3: lighten($blue, 15%);
$blue-4: lighten($blue, 10%);
$blue-5: lighten($blue, 5%);
$blue-6: $blue;
$blue-7: darken($blue, 5%);
$blue-8: darken($blue, 10%);
$blue-9: darken($blue, 15%);
$blue-10: darken($blue, 20%);

$red-1: lighten($red, 30%);
$red-2: lighten($red, 20%);
$red-3: lighten($red, 15%);
$red-4: lighten($red, 10%);
$red-5: lighten($red, 5%);
$red-6: $red;
$red-7: darken($red, 5%);
$red-8: darken($red, 10%);
$red-9: darken($red, 15%);
$red-10: darken($red, 20%);

$pink-1: lighten($pink, 30%);
$pink-2: lighten($pink, 20%);
$pink-3: lighten($pink, 15%);
$pink-4: lighten($pink, 10%);
$pink-5: lighten($pink, 5%);
$pink-6: $pink;
$pink-7: darken($pink, 5%);
$pink-8: darken($pink, 10%);
$pink-9: darken($pink, 15%);
$pink-10: darken($pink, 20%);

$purple-1: lighten($purple, 30%);
$purple-2: lighten($purple, 20%);
$purple-3: lighten($purple, 15%);
$purple-4: lighten($purple, 10%);
$purple-5: lighten($purple, 5%);
$purple-6: $purple;
$purple-7: darken($purple, 5%);
$purple-8: darken($purple, 10%);
$purple-9: darken($purple, 15%);
$purple-10: darken($purple, 20%);

$cyan-1: lighten($cyan, 30%);
$cyan-2: lighten($cyan, 20%);
$cyan-3: lighten($cyan, 15%);
$cyan-4: lighten($cyan, 10%);
$cyan-5: lighten($cyan, 5%);
$cyan-6: $cyan;
$cyan-7: darken($cyan, 5%);
$cyan-8: darken($cyan, 10%);
$cyan-9: darken($cyan, 15%);
$cyan-10: darken($cyan, 20%);

$gray-1: lighten($gray, 30%);
$gray-2: lighten($gray, 20%);
$gray-3: lighten($gray, 15%);
$gray-4: lighten($gray, 10%);
$gray-5: lighten($gray, 5%);
$gray-6: $gray;
$gray-7: darken($gray, 5%);
$gray-8: darken($gray, 10%);
$gray-9: darken($gray, 15%);
$gray-10: darken($gray, 20%);

$yellow-1: lighten($yellow, 30%);
$yellow-2: lighten($yellow, 20%);
$yellow-3: lighten($yellow, 15%);
$yellow-4: lighten($yellow, 10%);
$yellow-5: lighten($yellow, 5%);
$yellow-6: $yellow;
$yellow-7: darken($yellow, 5%);
$yellow-8: darken($yellow, 10%);
$yellow-9: darken($yellow, 15%);
$yellow-10: darken($yellow, 20%);

$orange-1: lighten($orange, 30%);
$orange-2: lighten($orange, 20%);
$orange-3: lighten($orange, 15%);
$orange-4: lighten($orange, 10%);
$orange-5: lighten($orange, 5%);
$orange-6: $orange;
$orange-7: darken($orange, 5%);
$orange-8: darken($orange, 10%);
$orange-9: darken($orange, 15%);
$orange-10: darken($orange, 20%);
