/*color*/
//$main-color: #8000ff;
//$main-color: #8c2823;
$main-color: #a32223;
$info-color: #1890ff;
$success-color: green;
$warning-color: orange;
$error-color: #ff4b13;
/*size*/
$header-height: 4rem;
$header-gap: 0.6rem;
$header-item-padding: 1.2rem;
