@import '~@/styles/variables.scss';
@import '~@/styles/mixin.scss';
.groupWrap {
	color: rgba(0, 0, 0, 0.65);
	font-size: 0.875rem;
}

.title {
	font-size: 1.5rem;
	margin: 1rem 0;
}

@media (max-width: 1000px) {
	.groupWrap {
		font-size: 1rem;
		@include card;
		padding-bottom: 2rem;

		.row {
			.rowIcon {
				width: 1.5rem;
			}
		}
		.treeRow {
			.treeRowIcon {
				width: 1.5rem;
			}
		}
	}
}

.row {
	user-select: none;
	.rowIcon {
		display: inline-block;
		width: 1.2rem;
		//margin-right: .3rem;
	}
	.rowLabel {
	}
}
.treeRow {
	cursor: pointer;

	&:hover {
		color: $main-color;
	}
	line-height: 2;
	.treeRowIcon {
		display: inline-block;
		width: 1.2rem;
		margin-right: 0.5rem;

		.treeRowIconArrow {
			display: inline-block;
			transform: scale(1.2) rotate(-90deg);
			transition: transform 0.15s;
		}
		.treeRowIconOpen {
			transform: scale(1.2) rotate(0);
		}
	}
	.treeRowContent {
	}
}

.groupItem {
	.groupItemChildren {
		margin-left: 1.7rem;
		height: 0;
		overflow: hidden;

		&.groupItemChildrenOpen {
			height: auto;
		}
	}
}

.articleItem {
}
