@import '~@/styles/variables.scss';

.scrollView {
	height: 100vh;
	//padding-top: $header-height;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

.root {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	margin-top: $header-height;

	$ItemMarginTop: 1rem;

	.main {
		flex: 1;
		margin-top: $ItemMarginTop;
		max-width: 50vw;
		min-height: 60vh;
		margin-right: 1rem;
		position: relative;
	}
	.aside {
		width: 16rem;
		margin-top: $ItemMarginTop;
	}
}
.toTop {
	position: fixed;
	right: calc(25vw + 5rem);
	bottom: 7.5rem;
}

@media (max-device-width: 1000px) {
	.root {
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;

		.main {
			margin-right: 0;
			max-width: 100vw;
			margin-top: 0;
		}
		.aside {
			margin: 1rem;
			width: auto;
		}
	}
	.toTop {
		right: 0.5rem;
		bottom: 3em;
	}
}
