@import '~@/styles/variables.scss';

.main {
	margin-top: $header-height;
	height: calc(100vh - #{$header-height});
	padding: 1rem;
	overflow: auto;
}
@media (max-width: 1000px) {
	.main {
		padding: 0;
	}
}
